

	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	.clear{ clear:both}
body{
	background: #252424
}
	body, input, textarea
	{
		font-family: 'Share Tech', sans-serif;
		line-height: 1.85em;
		color: #fff;
		
	}
[v-cloak] {
    display: none !important;
}
	a
	{
		text-decoration:none;
		-moz-transition: color .2s ease-in-out;
		-webkit-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}
	
		

		a img
		{
			border: 0;
		}

	strong, b
	{
		font-weight: 600;
		color: #3e3e3e;
	}
	
	h1, h2, h3, h4, h5, h6
	{
		color: #fff;
	}
	
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
		{
			text-decoration: none;
			color: inherit;
		}
	
	
	
	em, i
	{
		font-style: italic;
	}
	.yellow{color: #FCEC36}
	.blue{color: #32C5FF}
	

	br.clear
	{
		clear: both;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 1.5em;
	}
	
	section,
	article
	{
		margin-bottom: 3em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	.text-left{
	width: 50%;
	float: left;
	opacity: 1;
}
.text-right{
	width: 50%;
	float: right;
	text-align: right;
	opacity: 1;
}

		.image img
		{
			display: block;
			width: 86%;
			position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%,-50%);
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}
	
	.button
	{
		display: inline-block;
    
    overflow: hidden;
    background: #F9E935;
	}

		

	
			
	.box-2
	{
		border: 1px solid #ccc;
		
	}

		.box .image-full,.box-2 .imge-full
		{
			position: relative;
		}

#top .box-2 h1 {margin-top: auto !important;    margin-bottom: 0.2em;}

#top .box-2 p{opacity: 0.6;margin-bottom: 3em;}

.mt-tabpage-n{
	margin-right: 64px;
}
.mt-tabpage-title {
	height: 44px;
	margin: auto;
	border-bottom: 1px solid #979797;
}
.moblie_frame {
	display: none;
}
.desktop_frame{
	display: block;
}
.mt-tabpage-title .mt-tabpage-item {
	display: inline-block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #FCEC36;
	font-size: 2em;
	opacity: 0.4;
}
.mt-tabpage-title .mt-tabpage-item:hover{
	color: #FCEC36;
}
.mt-tabpage-title .mt-tabpage-item-cur {
	color: #FCEC36;
	font-size: 2em;
	border-bottom: 2px solid #FCEC36;
	opacity: 1;
}
.mt-tabpage-item-text .text-right,.text-left{
	margin-bottom: 1em !important;
}
.mt-tabpage-item-text .text-left{

	opacity: 1 !important;
}
.mt-tabpage-item-text .text-right{

	text-align: right;
	opacity: 1 !important;
}
.number-box,.input_number-box-left,.input_number-box-right{
	padding: 1em 1.5em;
	margin-bottom: 2em;
}
.input_number-box-left{
width: 46em;
    text-align: left;
    float: left;
}
.number-box{
	width: 100%;
}
.number-box,.input_number-box-left{
	border: 1px solid #ccc;
}
.number-text,.input_number-text {
	display: inline-block;
    vertical-align: middle;
   	line-height: 1.3em;
	font-size: 2.2rem;
}
.input_number-box-left .input_number-text{
	padding: 0.05em 0;
}
.number-text span,.input_number-text span{
	font-size: 1.6rem;
    color: #FCEC36;
	padding-left: .8em;
}
.number-box-left img{
	width: 3rem;
    height: auto;
    vertical-align: middle;
	    margin-right: 1.8rem;
}
.number-box-left{
	width: 46em;
    text-align: left;
	float: left;
}
.number-box-right{
	text-align: right;
}
.input_number-box-right{
	text-align: right;
    width: 19em;
    float: right;
    border: 1px solid #ccc;
    padding: 1em 1.5em;
    margin-bottom: 2em;
}

.mt-tabpage-count {
	position: relative;
    width: 1142px;
    height: 397px;
    overflow: hidden;
	margin-top: 2em;
}
.mt-tabpage-count .mt-tabpage-item .button{
	color: #252424;
    display: inline-block;
    border: 0;
    outline: 0;
    overflow: hidden;
    background: #F9E935;
	padding: 16px 30px;
	color: #252424;
	float: right;
}
.mt-tabpage-cont__wrap {
	position: absolute;
}
.mt-tabpage-count .mt-tabpage-item {
	width: 1142px;
	height: 282px;

}
.input_number-box-left::-webkit-scrollbar {
    display: none;
}
.input_number-text::-webkit-scrollbar {
    display: none;
}
#test{
            width: 100%;
            min-height:1.34em;
            max-height:1.34em;
            outline: 0;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-user-modify: read-write-plaintext-only;
        }
        [contentEditable=true]:empty:not(:focus):before{
            content:attr(data-text);
        }
textarea{width: 100%;
    background: none;
    border: 1px solid #ccc;
    font-size: 1.4em;
    line-height: 1.22em;
	padding: 1em;
	resize: none;
	margin-bottom: 1em;
}

input:focus, textarea:focus {

    outline: none;

}

	.icon
	{
		text-decoration: none;
	}

	
	.wrapper
	{
		
		
	}

	.wrapper-first
	{
		box-shadow: none;
	}

	.wrapper-style1
	{
		background:url("../images/header_banner_bg.png") no-repeat right center;

		
	}
	
	.wrapper-style2
	{
		
		
	}

.bottom{
	width: 128px;
    border-bottom: 2px solid #FCEC36;
    margin: auto;
}
	
	.wrapper-style3
	{
		background-color: #f4f4f4;
		text-shadow: 1px 1px 0px #fff;
	}

	.wrapper-style4
	{
		background-color: #303030;
		color: #999;
		text-shadow: -1px -1px 0px #181818;
	}

		.wrapper-style4 h1, 
		.wrapper-style4 h2, 
		.wrapper-style4 h3, 
		.wrapper-style4 h4, 
		.wrapper-style4 h5, 
		.wrapper-style4 h6
		{
			color: #fff;
		}
		
		.wrapper-style4 .row-special
		{
			border-top: solid 1px rgba(0,0,0,0.5);
			border-bottom: solid 1px rgba(0,0,0,0.5);
			box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.1), 0px 1px 0px 0px rgba(255,255,255,0.1);
		}


	
/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/
.nav-icon-share {
	display: none;
}
	#top
	{
	}

		#top .me
		{
			
			overflow: hidden;
		}

		#top p
		{
		}
	
			#top p a
			{
				color: inherit;
			}

.arrow{
	width: 16px;
}
.mainnet{
	border-bottom: 1px solid #ccc;
	padding-bottom: 3rem;
}

/*********************************************************************************/
/* nav                                                                     */
/*********************************************************************************/

.logo{
	width: 33rem;
    height: auto;
    vertical-align: middle;
    margin-right: 1.8rem;
}
nav {
    font-size: 1.5rem;
    width: 58%;
    float: left;
   
    
    height: 100%;
}

nav ul {
   
    list-style-type: none;
	    margin-top: 56px;
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #FCEC36;
    text-decoration: none;
    display: inline-block;
    padding: .4em 1em;
    box-sizing: border-box;
}

nav ul li a:hover {
    color: #FCEC36;
}

.current_page {
    
}

.current_page a {
    color: #FCEC36;
}

#menu_button_wrapper{
    display: none;
}

.hidden {
    display: none;
}

/* Responsive for smaller screens */

@media (max-width: 760px) {
    #menu_button_wrapper{
        display: block;
        
    }
	#menu_list{
		    background: #252424;
    height: 100%;
	}
    
    #menu_button {
        box-sizing: border-box;
        float: right;
        padding: 1.5em 1.5em;

        border-radius: 5px;
        color: white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    #menu_button:hover {
        cursor: pointer;
       
    }
    
    #hamburger {
        float: right;
        padding-top: .15em;
    }
    
    #menu_button span{
        display: block;
        background-color: #fff;
        width: 1.2em;
        height: .15em;
        border-radius: 1px;
        margin-bottom: .2em;
    }
    
    nav ul {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
		    text-align: left;
    }

    nav ul li {
        display: block;
    }
    
    nav ul li a {
        width: 82%;
		font-size: 1.4em;
    line-height: 1.2em;
		margin: 0 1em;
    }

}
